$main-color: skyblue;

body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background-color: $main-color;
}

.root {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
}
.post-list {
  &__login-btn {
    .root--authed & {
      display: none;
    }
  }
  &__logout-btn, &__new-post-btn {
    display: none;
    .root--authed & {
      display: inline-block;
    }
  }
  &__title {
    margin: 0;
    padding: 0.5em;
    background-color: darken($main-color, 30%);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
  }
}
.post-item {
  &__title {
    cursor: pointer;
  }
}